@font-face {
   font-family: $font-feature;
   src: 
      url('/fonts/CAKometo-Fill.eot') format('eot'),
      url('/fonts/CAKometo-Fill.ttf') format('ttf'),
      url('/fonts/CAKometo-Fill.woff') format('woff'),
      url('/fonts/CAKometo-Fill.woff2') format('woff2');
}
@font-face {
   font-family: $font-feature-outline;
   src: 
      url('/fonts/CAKometo-Regular.eot') format('eot'),
      url('/fonts/CAKometo-Regular.ttf') format('ttf'),
      url('/fonts/CAKometo-Regular.woff') format('woff'),
      url('/fonts/CAKometo-Regular.woff2') format('woff2');
}