.main-nav {
   background-color: map-get($colors, blue);
   height: $nav-height;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: $size-base * 2;
   border-bottom: 4px solid black;
   box-sizing: border-box;
   z-index: 999;
   @include media-breakpoint-down(sm) {
      height: $nav-height * 0.8;
   }
   .nav-logo {
      cursor: pointer;
      height: 80%;
      @include media-breakpoint-down(sm) {
         height: auto;
         width: 220px;
      }
   }
}