$size-base: 5px;
$font-size-base: 16px;
$nav-height: 90px;
$border-radius: 10px;

$font-feature: 'CAKometro';
$font-feature-outline: 'CAKometro-outline';

$colors: (
   red: #c23737,
   blue: #4AA8C5,
   pink: #CC6381,
   yellow: #EAD845
);