.button {
   @include default-transition-all;
   @include drop-shadow-style;
   font-family: $font-feature;
   padding: $size-base * 1.8 $size-base * 3.5 $size-base * 1.8 $size-base * 3.5;
   background-color: map-get($colors, blue);
   font-size: 1.8rem;
   line-height: 1.8rem;
   color: black;
   border-radius: $border-radius;
   cursor: pointer;
   text-decoration: none;
   &:hover {
      color: black;
      text-decoration: none;
      filter: drop-shadow(2px 2px 0px black);
   }
   &.pink {
      background-color: map-get($colors, pink);
   }
   &.yellow {
      background-color: map-get($colors, yellow);
   }
}